@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link-n {
    @apply px-2.5 pt-1 md:px-2.5 md:pt-2 md:pb-1.5 flex flex-col md:flex-row md:gap-1.5 items-center justify-center rounded-t-xl font-semibold bg-[#f5f5f5]/[0.075] backdrop-blur-sm transition-all md:duration-200 ease-in active:bg-[#f5f5f5]/85 active:text-[#16181d] border md:border-2 border-transparent hover:border-current select-none;
  }
  .nav-link-w {
    @apply px-1 pt-1 md:px-1.5 md:pt-2 md:pb-1.5 flex flex-col md:flex-row md:gap-1.5 items-center justify-center rounded-t-xl font-semibold bg-[#f5f5f5]/[0.075] backdrop-blur-sm transition-all md:duration-200 ease-in active:bg-[#f5f5f5]/85 active:text-[#16181d] border md:border-2 border-transparent hover:border-current select-none;
  }
  .nav-link-span {
    @apply text-xs md:text-base;
  }
  .header-promo-close-btn {
    @apply px-4 rounded py-0.5 font-semibold bg-[#f5f5f5]/[0.035] hover:bg-[#f0f0f2] hover:text-[#16181d] active:text-[#16181d] active:bg-[#f0f0f2]/75 text-[#f0f0f2] transition-all overflow-hidden;
  }
  header {
    @apply flex flex-col items-center justify-center sticky top-0 z-20 bg-[#111111] border-b;
  }
  nav {
    @apply px-2 py-1.5 md:px-2.5 md:py-2.5 flex items-center justify-between max-w-7xl w-full text-[#f5f5f5];
  }
  .nav-link-icon {
    @apply text-2xl md:text-[1.35rem];
  }
  .footer-links-panel-item {
    @apply border-b-[1.5px] border-transparent hover:border-[#f5f5f5] w-fit transition-all md:duration-200 ease-in;
  }
  .footer-panel-h2 {
    @apply font-semibold text-base py-2 px-4 text-center bg-[#f5f5f5]/5 rounded-b-md;
  }
  .footer-link-card {
    @apply flex flex-col items-start justify-center bg-gradient-to-br hover:bg-gradient-to-tl from-[#16181d] from-85% to-[#646674]/50 hover:to-[#646674] text-[#fdfdff] rounded-md w-full;
  }
  .footer-link-card ul {
    @apply p-2 md:px-4 flex flex-col gap-0.5;
  }
  .footer-card-h3 {
    @apply font-semibold text-base py-2 px-4 text-center bg-[#f5f5f5]/5 w-full rounded-t-md mb-2.5;
  }
  .about-details-card h3 {
    @apply font-semibold text-lg py-2 px-4 text-center bg-[#f5f5f5]/5 w-full rounded-b-md mb-2.5;
  }
  .about-details-card ul {
    @apply w-full list-disc px-2 md:px-4 text-justify text-[#f5f5f5]/75 drop-shadow shadow-[#111111] flex flex-col gap-y-1;
  }
  .about-details-card ul li {
    @apply transition-all md:duration-200 ease-in hover:text-[#f5f5f5];
  }
  .social-link-item {
    @apply p-2.5 md:p-4 bg-[#f5f5f5] rounded-full hover:text-[#fdfdff] hover:scale-110 active:scale-100 transition-all md:duration-200 ease-in;
  }
  .social-link-ig-addon {
    @apply hover:bg-gradient-to-tr text-[#fd1d1d] from-[#f56040] via-[#fd1d1d] via-80% to-[#c13584] active:from-[#f56040]/85 active:via-[#fd1d1d]/85 active:to-[#c13584]/85;
  }
  .programming-lang-card {
    @apply cursor-pointer p-2 md:p-4 rounded bg-gradient-to-tl hover:bg-gradient-to-br from-[#16181d] from-70% to-[#646674] font-semibold text-[#f5f5f5] flex flex-col gap-1 md:gap-2 items-center justify-center;
  }
  .about-details-card {
    @apply cursor-pointer p-4 md:pt-0 bg-gradient-to-tl hover:bg-gradient-to-br rounded-md from-[#16181d] from-80% to-[#646674] hover:to-[#646675]/50 font-semibold text-[#f5f5f5] flex flex-col gap-1 items-center justify-center;
  }
  .projects-card {
    @apply cursor-pointer w-64 relative flex-col items-center justify-center overflow-hidden rounded-xl shadow-inner shadow-[#111111];
  }
  .projects-card h3 {
    @apply text-lg flex flex-row items-center justify-between gap-1.5 w-full bg-[#111111] bottom-0 left-0 py-1.5 pl-2 pr-1 text-[#f5f5f5] text-start font-semibold truncate;
  }
  .projects-card h3 span {
    @apply flex flex-row items-center justify-center gap-1 w-fit text-xs font-semibold text-center rounded-bl drop-shadow;
  }
  .projects-card h3 span a {
    @apply p-0.5 text-[#f5f5f5] rounded-full text-2xl aspect-square hover:scale-110 active:opacity-75 transition-all md:duration-200 ease-in;
  }
  .projects-card p {
    @apply absolute opacity-100 bottom-0 md:opacity-0 transition-all ease-in md:duration-200 pt-1 pb-2 px-2 w-fit font-normal text-xs bg-[#111111]/65 text-[#f5f5f5] drop-shadow text-justify;
  }
  .projects-card img {
    @apply aspect-square w-64 h-64 border-2 border-[#111111] bg-[#f5f5f5] rounded-b-xl select-none;
  }
  .back-to-top-btn {
    @apply font-semibold text-base py-[0.3rem] px-4 text-center bg-[#f5f5f5]/5 text-[#fdfdff]/95 hover:bg-[#16181d]/95 active:bg-[#f5f5f5]/5 active:scale-95 border-[1.5px] border-current shadow w-fit rounded-md transition;
  }
  .feedback-tab-btn {
    @apply py-1 md:py-[0.3rem] px-4 font-semibold rounded bg-[#f5f5f5]/5 text-[#fdfdff] hover:bg-[#16181d] border-[1.5px] active:scale-95 border-[#fdfdff] active:bg-[#f5f5f5]/5 disabled:opacity-50 min-w-[50%] transition-all ease-in md:duration-200;
  }
  .feedback-tab-input {
    @apply py-1.5 px-2 text-[#16181d] focus:outline-sky-500 invalid:focus:outline-sky-500 valid:focus:outline-green-500 out-of-range:focus:outline-red-500 rounded;
  }
  .animate-reverse-spin {
    animation: reverse-spin 1s linear infinite;
  }
  .ficjc {
    @apply flex items-center justify-center;
  }
  main section article form {
    @apply w-full flex items-center justify-center;
  }
  main section article form div {
    @apply w-full flex flex-col items-start justify-center gap-y-1;
  }
  main section article form div input,
  textarea {
    @apply py-1.5 px-2 text-[#16181d] focus:outline-sky-500 invalid:focus:outline-sky-500 valid:focus:outline-green-500 out-of-range:focus:outline-red-500 rounded w-full;
  }
  input[type="radio"] {
    @apply cursor-pointer;
  }
  .ficjs {
    @apply flex items-center justify-start;
  }
  .ffwicjc {
    @apply flex flex-wrap items-center justify-center;
  }
  @keyframes reverse-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
  button {
    user-select: none;
  }

  /*Start Ratings*/
  :root {
    --enlarge: scale(1.25);
    --page-color: steelblue;
    --star-primary-color: gold;
    --star-secondary-color: darkgoldenrod;
  }

  .container-rate {
    display: grid;
    place-content: center;
  }

  .star-group {
    display: grid;
    font-size: clamp(2rem, 2rem, 2rem);
    grid-auto-flow: column;
  }

  /* reset native input styles */
  .star {
    -webkit-appearance: none;
    align-items: center;
    appearance: none;
    cursor: pointer;
    display: grid;
    font: inherit;
    height: 1.15em;
    justify-items: center;
    margin: 0;
    place-content: center;
    position: relative;
    width: 1.15em;
  }

  @media (prefers-reduced-motion: no-preference) {
    .star {
      transition: all 0.25s;
    }

    .star:before,
    .star:after {
      transition: all 0.25s;
    }
  }

  .star:before,
  .star:after {
    color: var(--star-primary-color);
    position: absolute;
  }

  .star:before {
    content: "☆";
  }

  .star:after {
    content: "✦";
    font-size: 25%;
    opacity: 0;
    right: 20%;
    top: 20%;
  }

  /* The checked radio button and each radio button preceding */
  .star:checked:before,
  .star:has(~ .star:checked):before {
    content: "★";
  }

  #two:checked:after,
  .star:has(~ #two:checked):after {
    opacity: 1;
    right: 14%;
    top: 10%;
  }

  #three:checked:before,
  .star:has(~ #three:checked):before {
    transform: var(--enlarge);
  }

  #three:checked:after,
  .star:has(~ #three:checked):after {
    opacity: 1;
    right: 8%;
    top: 2%;
    transform: var(--enlarge);
  }

  #four:checked:before,
  .star:has(~ #four:checked):before {
    text-shadow: 0.05em 0.033em 0px var(--star-secondary-color);
    transform: var(--enlarge);
  }

  #four:checked:after,
  .star:has(~ #four:checked):after {
    opacity: 1;
    right: 8%;
    top: 2%;
    transform: var(--enlarge);
  }

  #five:checked:before,
  .star:has(~ #five:checked):before {
    text-shadow: 0.05em 0.033em 0px var(--star-secondary-color);
    transform: var(--enlarge);
  }

  #five:checked:after,
  .star:has(~ #five:checked):after {
    opacity: 1;
    right: 8%;
    text-shadow: 0.14em 0.075em 0px var(--star-secondary-color);
    top: 2%;
    transform: var(--enlarge);
  }

  .star-group:has(> #five:checked) #one {
    transform: rotate(-15deg);
  }

  .star-group:has(> #five:checked) #two {
    transform: translateY(-20%) rotate(-7.5deg);
  }

  .star-group:has(> #five:checked) #three {
    transform: translateY(-30%);
  }

  .star-group:has(> #five:checked) #four {
    transform: translateY(-20%) rotate(7.5deg);
  }

  .star-group:has(> #five:checked) #five {
    transform: rotate(15deg);
  }

  .star:focus {
    outline: none;
  }

  .star:focus-visible {
    border-radius: 8px;
    outline: 2px dashed var(--star-primary-color);
    outline-offset: 8px;
    transition: all 0s;
  }
}

.active {
  background-color: #f5f5f5;
  color: #16181d;
}
